/* Styling for the repeated elements on the pages */
.pageHeading {
    font-size: 44px;
    font-weight: bold;
    color: #1c7399;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.bodyText {
    font-size: medium;
    padding-bottom: 1vh;
}

.bodyTextRanking {
    font-size: medium;
    margin-bottom: -10px;
}

.textHeading {
    font-size: 21px;
    margin: 0;
}

.centredTextHeading {
    font-size: 21px;
    text-align: center;
    margin-bottom: 3vh;
}

.headshot {
    width: 120px;
    height: 120px;
}

/* Columns */
.twoColumn {
    float: left;
    width: 47%;
    margin-right: calc(10px + 1vw);
}

.twoColBtwnLeft {
    float: left;
    width: 33%;
    margin-left: 17%;
}

.twoColBtwnRight {
    float: left;
    width: 33%;
    margin-right: 17%;
}

.threeColumn {
    float: left;
    width: 33.33%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Different Headings for the Categories */
.transparency, .envImpact, .sustainEfforts, .ethicalLabour, .recycledMat, .organicMat, .plasticFree {
    font-size: 18px;
    margin-bottom: -10px;
    font-weight: bold;
}

.transparency, .recycledMat {
    color: #931B46;
}

.envImpact, .organicMat {
    color: #1A535C;
}

.sustainEfforts, .plasticFree {
    color: #6069B6;
}

.ethicalLabour {
    color: #7F6A93;
}

/* Boxes */
.box {
    color: white;
    padding: 8px;
    padding-left: 43px;
    padding-right: 42px;
    width: 170px;
    margin-top: 50px;
}

.pass {
    color: #01988F;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: -10px;
}

.fail {
    color: #D86A6A;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: -10px;
}

.redText {
    font-size: 16px;
    margin-top: 10vh;
    text-align: center;
    color: #D86A6A;
}

a:visited, a:hover, a:focus, a:active { 
    text-decoration: none; 
    color: #1c7399;
}
a {
    color: #1c7399;
}